COLLECTOR_ACCOUNT=qauat01
COLLECTOR_ACCESSID=
COLLECTOR_ACCESSKEY=
COLLECTOR_SIZE=small
COLLECTOR_VERSION=0
COLLECTOR_USEEA=false
COLLECTOR_DESCRIPTION=local docker collector test
COLLECTOR_GROUP=localdockercollectortest
COLLECTOR_LOGLEVEL=debug
COLLECTOR_INSTALLUSER=logicmonitor
COLLECTOR_SUDOPASS=logicmonitor
